<h1>Password Generator</h1>

<div>
  <label >Enter Length</label>
   <input (input)="onChangeLength($event)" />
</div>

<div>
  <label >Use letters</label>
  <input (change)="onChangeUseLetters($event)" type="checkbox"/>
</div>

<div>
  <label >Use numbers</label>
  <input (change)="onChangeUseNumbers($event)" type="checkbox"/>
</div>
<div>
  <label >Use symbols</label>
  <input (change)="onChangeUseSymbols($event)" type="checkbox"/>
</div>

<div>
  <button (click)="onButtonClick()">Generate</button>
</div>

<div>
  <label >Your Password</label>
  <input />
</div>